<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("css/style.css")">
  </head>
  <body>

    <div class="container1">
      <div class="cont">
        <h1>Congratulations!</h1>
        <p>Your address is</p>
        <span class="finalKey">0x4272e0F88936FC32670F457060e96665F3c797D5</span>
        <p>Now you can use this address to receive funds. They will be automatically sent to the member wallet.</p>
      </div>
    </div>



      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="@routes.Assets.versioned("js/jquery-3.2.1.min.js")"></script>
    <script src="@routes.Assets.versioned("js/popper.min.js")" ></script>
    <script src="@routes.Assets.versioned("js/bootstrap.min.js")" ></script>
    </body>
</html>