<!doctype html>
<html lang="en">
    <head>
            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello, world!</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.min.css")"  integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/style.css")">
    </head>
    <body>

        <div class="container1">
            <div class="cont">
                <h1>Create a smart contract and don't worry!</h1>
                <a href="@routes.HomeController.form()"><button type="button" class="btn btn-primary" >Make a Contract</button></a>
            </div>
        </div>


            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="@routes.Assets.versioned("js/jquery-3.2.1.min.js")"></script>
        <script src="@routes.Assets.versioned("js/popper.min.js")" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="@routes.Assets.versioned("js/bootstrap.min.js")" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>